# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

inputs/*
outputs/*
survey_results/*
survey_results_old/*
survey_results_processed/*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
a_arc_results_inspections/circle_graph/full_train_log.txt
a_arc_results_inspections/circle_graph/test_ranks_full.txt
a_arc_results_inspections/circle_graph/test_ranks.txt
a_arc_results_inspections/circle_graph/val_ranks_full.txt
a_arc_results_inspections/circle_graph/val_ranks.txt
a_arc_results_inspections/fewComplexInstructionContext/full_train_logs.txt
a_arc_results_inspections/fewComplexInstructionContext/test_ranks_full.txt
a_arc_results_inspections/fewComplexInstructionContext/test_ranks.txt
a_arc_results_inspections/fewComplexInstructionContext/val_ranks_full.txt
a_arc_results_inspections/fewComplexInstructionContext/val_ranks.txt
a_arc_results_inspections/gismo_baseline/full_train_log.txt
a_arc_results_inspections/gismo_baseline/test_ranks_full.txt
a_arc_results_inspections/gismo_baseline/test_ranks.txt
a_arc_results_inspections/gismo_baseline/val_ranks_full.txt
a_arc_results_inspections/gismo_baseline/val_ranks.txt
a_arc_results_inspections/negative_sampling/full_train_log.txt
a_arc_results_inspections/negative_sampling/test_ranks_full.txt
a_arc_results_inspections/negative_sampling/test_ranks.txt
a_arc_results_inspections/negative_sampling/val_ranks_full.txt
a_arc_results_inspections/negative_sampling/val_ranks.txt
a_arc_results_inspections/simpleIngredientContext/full_train_logs.txt
a_arc_results_inspections/simpleIngredientContext/test_ranks_full.txt
a_arc_results_inspections/simpleIngredientContext/test_ranks.txt
a_arc_results_inspections/simpleIngredientContext/val_ranks_full.txt
a_arc_results_inspections/simpleIngredientContext/val_ranks.txt
a_arc_results_inspections/simpleInstructionContext/full_train_logs.txt
a_arc_results_inspections/simpleInstructionContext/test_ranks_full.txt
a_arc_results_inspections/simpleInstructionContext/test_ranks.txt
a_arc_results_inspections/simpleInstructionContext/val_ranks_full.txt
a_arc_results_inspections/simpleInstructionContext/val_ranks.txt
a_mode_results_inspections/baseline2/full_train_log.txt
a_mode_results_inspections/baseline2/test_ranks_full.txt
a_mode_results_inspections/baseline2/test_ranks.txt
a_mode_results_inspections/baseline2/val_ranks_full.txt
a_mode_results_inspections/baseline2/val_ranks.txt
a_mode_results_inspections/baseline3/full_train_log.txt
a_mode_results_inspections/baseline3/test_ranks_full.txt
a_mode_results_inspections/baseline3/test_ranks.txt
a_mode_results_inspections/baseline3/val_ranks_full.txt
a_mode_results_inspections/baseline3/val_ranks.txt
a_mode_results_inspections/negative_sampling/full_train_logs.txt
a_mode_results_inspections/negative_sampling/test_ranks_full.txt
a_mode_results_inspections/negative_sampling/test_ranks.txt
a_mode_results_inspections/negative_sampling/val_ranks_full.txt
a_mode_results_inspections/negative_sampling/val_ranks.txt
a_mode_results_inspections/simpleIngredientContext/full_training_logs.txt
a_mode_results_inspections/simpleIngredientContext/test_ranks_full.txt
a_mode_results_inspections/simpleIngredientContext/test_ranks.txt
a_mode_results_inspections/simpleIngredientContext/val_ranks_full.txt
a_mode_results_inspections/simpleIngredientContext/val_ranks.txt
a_mode_results_inspections/simpleInstructionContext/full_training_logs.txt
a_mode_results_inspections/simpleInstructionContext/test_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext/test_ranks.txt
a_mode_results_inspections/simpleInstructionContext/val_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext/val_ranks.txt
a_mode_results_inspections/simpleInstructionContext2/full_training_logs.txt
a_mode_results_inspections/simpleInstructionContext2/test_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext2/test_ranks.txt
a_mode_results_inspections/simpleInstructionContext2/val_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext2/val_ranks.txt
a_mode_results_inspections/simpleInstructionContext3/full_train_logs.txt
a_mode_results_inspections/simpleInstructionContext3/test_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext3/test_ranks.txt
a_mode_results_inspections/simpleInstructionContext3/val_ranks_full.txt
a_mode_results_inspections/simpleInstructionContext3/val_ranks.txt
aa_arc_five_inspection/0/actions/full_training_logs.txt
aa_arc_five_inspection/0/actions/test_ranks_full.txt
aa_arc_five_inspection/0/actions/test_ranks.txt
aa_arc_five_inspection/0/actions/val_ranks_full.txt
aa_arc_five_inspection/0/actions/val_ranks.txt
aa_arc_five_inspection/0/gismo/full_training_logs.txt
aa_arc_five_inspection/0/gismo/test_ranks_full.txt
aa_arc_five_inspection/0/gismo/test_ranks.txt
aa_arc_five_inspection/0/gismo/val_ranks_full.txt
aa_arc_five_inspection/0/gismo/val_ranks.txt
baseline_substitutability/sample_2_row.pkl
baseline_substitutability/ingr_2_col.pkl
baseline_substitutability/cos_similarities.pt
